body {
	background-color: #062863;
	font-family: "Josefin Sans", sans-serif;
	padding-top: 48px;
	padding-bottom: 48px;
	margin: 0px;
}

.content-container {
	max-width: 28rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.logo-div {
	text-align: center;
	margin-bottom: 48px;
}

.input-container {
	margin-bottom: 32px;
}

.header {
	margin-bottom: 32px;
}

h3 {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 36px;
	margin: 10px;
	color: #083e9e;
	margin: 0px;
}

.welcome {
	font-family: "Karla", sans-serif;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: #4a5568;
	margin: 0px;
}

.form-div {
	background-color: #ffffff;
	border: 0px solid #ffffff;
	border-radius: 20px 20px 20px 0px;
	padding: 40px 40px 48px 40px;
}

.login-div {
	text-align: center;
}

.login {
	display: inline-block;
	font-family: "Karla", sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin-top: 32px;
	padding: 4px 20px;
	text-decoration: none;
}

.btn {
	width: 100%;
	padding: 20px 40px 16px 40px;
	background-color: #083E9E;
	border: 0px solid #083E9E;
	border-radius: 12px 12px 12px 0px;
	color: #ffffff;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 21px;
	cursor: pointer;
}


select {
	width: 100%;
	border: none;
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: #1a202c;
	line-height: 24px;
	background-color: #EDF2F7;
	padding: 16px;
	border-radius: 8px;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(assets/chevron-down.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
	background-size: 20px;
}

input {
	width: 100%;
	border: none;
	padding: 16px;
	box-sizing: border-box;
	background-color: #EDF2F7;
	border-radius: 4px;
	line-height: 24px;
}

label {
	display: inline-block;
	margin-bottom: 4px;
	color: #4a5568;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	box-sizing: inherit;
}

input::placeholder {
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: rgba(26, 32, 44, .5);
	line-height: 24px;
}

option {
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
	color: rgba(26, 32, 44, .5);
	line-height: 24px;
	background-color: #ffffff;
	padding-top: 20px;
}

/*Styling hover and focus states*/

.btn:hover {
	background-color: #062b6f;
}

.login:hover {
	color: #b3b3b3;
}

input:focus {
	border: none;
	outline: none;
}

select:focus {
	outline: none;
}