body {
	background-color: #062863;
	font-family: "Poppins", sans-serif;
	padding-top: 48px;
	padding-bottom: 48px;
}

.content-container {
	max-width: 28rem;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.logo-div {
	text-align: center;
}

h3 {
	text-align: center;
	font-size: 24px;
	font-weight: 700px;
	margin: 10px;
	color: #083e9e;

}

.welcome {
	font-family: "Karla", sans-serif;
	text-align: center;
	font-size: 14px;
	color: #4a5568;
}

.form-div {
	background-color: #ffffff;
	border: 1px solid #ffffff;
	border-radius: 20px 20px 20px 0px;
	padding: 40px 40px 48px 40px;
	margin-top: 30px;
}

.login-div {
	margin-top: 32px;
	text-align: center;
}

.login {
	font-family: "Karla", sans-serif;
	font-size: 14px;
	color: #ffffff;
	margin-top: 32px;
	padding: 4px 20px;
	text-decoration: none;
}

.btn {
	width: 100%;
	padding: 20px 40px 16px 40px;
	background-color: #083E9E;
	border: 1px solid #083E9E;
	border-radius: 12px 12px 12px 0px;
	color: #ffffff;
	font-weight: 700;
	font-size: 14px;
	cursor: pointer;
}


select {
	width: 100%;
	border: none;
	background-color: #EDF2F7;
	padding: 16px;
	border-radius: 3px;
}

input {
	width: 100%;
	border: none;
	padding: 16px;
	box-sizing: border-box;
	background-color: #EDF2F7;
	border-radius: 3px;
}

label {
	color: #4a5568;
	font-size: 12px;
	font-weight: 700px;
	line-height: 24px;
}

input::placeholder {
	font-family: "Segoe UI", sans-serif;
	font-size: 16px;
}